.test_content_nr{width:100%; border-top:3px solid #efefef;}
.test_content_nr>ul>li{width:100%;  border-bottom:5px solid #efefef; padding-top:10px;}
.test_content_nr_tt{width:85%; height:auto; line-height:32px; margin:0 auto; border-bottom:1px solid #e4e4e4;}
.test_content_nr_tt i{width:25px; height:25px; line-height:25px; text-align:center; display:block; float:left; background:#5d9cec; border-radius:50%; margin-left:-50px; color:#fff; margin-top:8px; font-size:16px;}
.test_content_nr_tt span{padding:0 8px;}
.test_content_nr_tt font{font-size:14px}
.test_content_nr_tt b{display:block; float:right; margin-right:-50px; color:#f48c27; font-size:20px;}

.test_content_nr_main{width:85%; margin:0 auto; padding:10px 0;height:auto;}

.option{line-height:32px; display:block; background:#fff;color:#666;}
.option:hover{background:#e4e4e4;}
.option input{width:20px; height:20px; display:block; float:left; margin:10px 10px 0 0;}
.option label{height:auto;display:block;}